body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: green;
}

.main__h1 {
  background: yellow;
  border: 1px solid red;
  display: block;
  margin: 50% 40%;
}

.footer {
  background: blue;
}
