.footer {
  border-top: 1px solid #cc212a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 0;
  height: 100px;

  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__text__circle {
    background: #cc212a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(0px, -20px);
    z-index: 1;
    color: #cc212a;

    @media all and (min-width: 768px) {
      margin-right: 50px;
      margin-top: 50px;
    }

    .footer__text__logo {
      color: white;
      position: relative;
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
    }
  }

  .footer__text__copy {
    color: grey;
    margin-top: 10px;

    @media all and (min-width: 768px) {
      padding-left: 50px;
    }
  }
}
