.footer {
  border-top: 1px solid #cc212a;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  z-index: 0;

  @media all and (min-width: 768px) {
  }

  .footer__text__logo {
    color: white;
    position: relative;
    bottom: 10px;
    z-index: 3;
  }

  .footer__text__circle {
    background: #cc212a;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(0px, -45px);
    text-align: center;
    z-index: 1;
    color: #cc212a;
  }

  .footer__text__copy {
    color: grey;
    margin-top: 45px;
  }
}
